<!DOCTYPE html>
<html>
<head>
  <title>Juhu, meine 6. Seite</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    {{ message }}
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vuerld!'
      }
    })
  </script>
</body>
</html>