<!DOCTYPE html>
<html>

<head>
    <title>Juhu, meine 8. Seite</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

</head>

<body>
    <div id="app">
        <div>
            <b-navbar toggleable="lg" type="dark" variant="info" >
                <b-navbar-brand href="#">NavBar</b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav v-b-scrollspy:nav-scroller>
                    <b-navbar-nav>
                        <b-nav-item href="#">Link</b-nav-item>
                        <b-nav-item v-for="(post, index) in posts" :href="'#'+index" v-b-tooltip.hover :title="post.title">{{post.title.slice(0, 5)}}...</b-nav-item>
                    </b-navbar-nav>

                    <!-- Right aligned nav items -->
                    <b-navbar-nav class="ml-auto">
                        <b-nav-form>
                            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                        </b-nav-form>

                        <b-nav-item-dropdown text="Lang" right>
                            <b-dropdown-item href="#">EN</b-dropdown-item>
                            <b-dropdown-item href="#">ES</b-dropdown-item>
                            <b-dropdown-item href="#">RU</b-dropdown-item>
                            <b-dropdown-item href="#">FA</b-dropdown-item>
                        </b-nav-item-dropdown>

                        <b-nav-item-dropdown right>
                            <!-- Using 'button-content' slot -->
                            <template v-slot:button-content>
                                <em>User</em>
                            </template>
                            <b-dropdown-item href="#">Profile</b-dropdown-item>
                            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>
        </div>
        <div>
            <b-container 
            id="nav-scroller"
            ref="content"
            style="position:relative; margin-top: 1%;">
                <b-row>
                    <b-col v-for="(post, index) in posts" :key="index" cols="12" >
                        <b-card :title="post.title" :sub-title="post.date + ' von ' +post.by" style="min-width: 20rem; max-width: 45rem;"
                            class="mb-2">
                            <b-card-text v-html="post.content" id="index">

                            </b-card-text>

                            <b-button href="#" variant="primary">Go somewhere</b-button>
                        </b-card>
                    </b-col>
                </b-row>
            </b-container>
        </div>


        <!-- APP Ende-->
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello shiny Vuerld!',
                posts: [
                    {
                        title: "Mein erster Post",
                        date: "01.01.1970",
                        by: "Lisa L.",
                        content: "bla bla <b>hier auch mit html</b>"
                    },
                    {
                        title: "Mein zweiter Post",
                        date: "01.01.1970",
                        by: "Lisa L.",
                        content: "bla bla <b>hier auch mit html</b>"
                    },
                    {
                        title: "Mein dritter Post",
                        date: "01.01.1970",
                        by: "Lisa L.",
                        content: "bla bla <b>hier auch mit html</b>"
                    },
                    {
                        title: "Mein vierter Post",
                        date: "01.01.1970",
                        by: "Lisa L.",
                        content: "bla bla <b>hier auch mit html</b>"
                    },
                    {
                        title: "Mein fünfter Post",
                        date: "01.01.1970",
                        by: "Lisa L.",
                        content: "bla bla <b>hier auch mit html</b>"
                    },
                    {
                        title: "Mein sechster Post",
                        date: "01.01.1970",
                        by: "Lisa L.",
                        content: "bla bla <b>hier auch mit html</b>"
                    },
                    {
                        title: "Mein siebter Post",
                        date: "01.01.1970",
                        by: "Lisa L.",
                        content: "bla bla <b>hier auch mit html</b>"
                    },
                    {
                        title: "Mein achter Post",
                        date: "01.01.1970",
                        by: "Lisa L.",
                        content: "bla bla <b>hier auch mit html</b>"
                    },
                    {
                        title: "Mein neunter Post",
                        date: "01.01.1970",
                        by: "Lisa L.",
                        content: "bla bla <b>hier auch mit html</b>"
                    },
                    {
                        title: "Mein zehnter Post",
                        date: "01.01.1970",
                        by: "Lisa L.",
                        content: "bla bla <b>hier auch mit html</b>"
                    },
                    {
                        title: "Mein elfter Post",
                        date: "01.01.1970",
                        by: "Lisa L.",
                        content: "bla bla <b>hier auch mit html</b>"
                    },
                    {
                        title: "Mein zwölfter Post",
                        date: "01.01.1970",
                        by: "Lisa L.",
                        content: "bla bla <b>hier auch mit html</b>"
                    },
                    {
                        title: "Mein dreizehnter Post",
                        date: "01.01.1970",
                        by: "Lisa L.",
                        content: "bla bla <b>hier auch mit html</b>"
                    },

                ]
            }
        })
    </script>
</body>

</html>